# Dependencies
node_modules
package-lock.json

# Cache
.turbo
.eslintcache

# Generated dirs
dist
.output

# Coverage reports
coverage
*.lcov

# Editors
.vscode
.idea

# Environment
.env

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache
